<h1>
  customer works!
</h1>Current status: <br>
Logged in: {{loggedIn}} <br>
As type: {{type}}<br>
<button data-toggle="modal" data-target="#logoutModal">Log out</button>

<!-- Modal -->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="logoutModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="logoutModalLabel">Logout</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure you want to logout?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Nevermind</button>
        <button type="button" class="btn btn-danger" (click)=logout()  data-dismiss="modal">Logout</button>
      </div>
    </div>
  </div>
</div>