<style>
  .my-flex-container {
          /* border: 2px solid green; */
          /* height: 700px;
          width: 50%; */
          /* margin-right: 10%;; */
        }
  
        .container {
          flex-wrap: wrap;
        }
      
        .my-flex-container-row {
          /* border: 2px solid green; */
          height: 100%;
          width: 100%;
          padding: 20px;
        }
      
         .my-flex-item {
          height: 100%; 
           /* border: darkgray 1px solid;  */
           /* background-color: lightgrey;  */
           height: 1000px; 
           width: 1000px;
           margin: 5%;
  
        } 
    </style>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="" disabled>Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>


<h1>
  customer works!
</h1>Current status: <br>
Logged in: {{loggedIn}} <br>
As type: {{type}}<br>
<button data-toggle="modal" data-target="#logoutModal">Log out</button>

<div class="container">
  <div class="d-flex flex-row justify-content-around my-flex-container">
    <div class="p-2 my-flex-item" style="width: 50%">

      <h2>Your Loans</h2>

      <br>
      <!-- Contact list and search -->
      <mat-list role="list">
        <mat-list-item role="listitem" *ngFor="let loan of loans" style='border-top: 1px dotted gray;'>
          <h4 matLine><b>Loan {{ loan.loanId }}</b></h4>
          <p matLine class="demo-2"> Status <i>{{loan.status}}</i>
          </p>
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#viewLoanDetailsModal" (click)=tempLoanStore(loan)>
            View Details
          </button>
        </mat-list-item>
      </mat-list>

    </div>
    <!-- Apply For A Loan -->
    <!-- askedAmount: new FormControl(''),
    downPayment: new FormControl(''),
    location: new FormControl(''),
    propertyType: new FormControl(''),
    proofOfIncome: new FormControl(''), -->
    <div [@simpleFadeAnimation]="'in'" class="p-2 my-flex-item" style="width: 50%">
      <div class="example-small-box mat-elevation-z4">
        <form  [formGroup]="loanForm" (ngSubmit)="submit()" method="POST">
          <h2 >Apply for a Loan</h2>
          <div class="form-group">
            <label for="username">Username</label>
            <input type="email" class="form-control" formControlName="username" id="username" required>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" formControlName="password" id="password" required>
          </div>
          <div class="form-group">
            <label for="passwordConfirm">Confirm password</label>
            <input type="password" class="form-control" formControlName="passwordConfirm" id="passwordConfirm" required>
          </div>
          <div class="form-group">
            <label for="ssn">Social Security Number</label>
            <input type="number" class="form-control" formControlName="ssn" id="ssn" required>
          </div>
          <div class="form-group">
            <label for="fname">First Name</label>
            <input type="text" class="form-control" formControlName="fname" id="fname" required>
          </div>
          <div class="form-group">
            <label for="lname">Last Name</label>
            <input type="text" class="form-control" formControlName="lname" id="lname" required>
          </div>
          <div class="form-group">
            <label for="datePicker">Date of birth</label>
            <input type="date" class="form-control" formControlName="datePicker" id="datePicker" required>
          </div>
          <div class="form-group">
            <label for="phone">Phone</label>
            <input type="phone" class="form-control" formControlName="phone" id="phone" required>
          </div>
          <button type="submit" class="btn btn-success">Register</button>
        </form>

      </div>
    </div>
  </div>
</div>





<!-- viewLoanDetailsModal -->
<div class="modal fade" id="viewLoanDetailsModal" tabindex="-1" role="dialog" aria-labelledby="viewLoanDetailsModal"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="viewLoanDetailsModal">Loan Details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...insert loan details here...

        <pre>{{loanModel}}</pre>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Log out Modal -->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="logoutModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="logoutModalLabel">Logout</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure you want to logout?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Nevermind</button>
        <button type="button" class="btn btn-danger" (click)=logout() data-dismiss="modal">Logout</button>
      </div>
    </div>
  </div>
</div>